body {
  background-color: rgba(0, 0, 0, 0.85);
}
.container {
  min-height: 100dvh;
  background-color: black;
  color: white;
  padding: 0 0.5em;
  overflow: hidden;
}
nav {
  display: flex;
  align-items: center;
}
button {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5em;
  border: none;
}
.active-name {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0;
}
.switch-btn {
  border-radius: 5px;
  margin-bottom: 0.5em;
}
.con-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cal-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.entity {
  font-size: 2.5rem;
}
.rdt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rdt-btn:hover {
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.2);
}
.rdt-btn:active {
  opacity: 0.3;
}
.converter {
  border-radius: 50px;
  border: 5px solid black;
}

.clear-and-refresh {
  display: grid;
  grid-template-columns: auto auto;
}
.converter-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.cal-grid {
  display: grid;
  grid-template-columns: auto auto auto 50px;
  font-size: 2rem;
}
.equal-sign {
  grid-row: span 2;
  background-color: green;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator,
.converter {
  min-height: 500px;
}
.calculator-box,
.converter-box {
  height: 200px;
  font-size: 2rem;
}
.converter-box {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  gap: 10px;
  color: white;
  border: 5px solid green;
}

.calculator-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2.5rem;
  word-wrap: break-word;
  overflow: hidden;
  word-break: break-all;
}
.select-section {
  display: flex;
  flex-direction: column;
}
select {
  height: 65px;
  background-color: inherit;
  border: none;
  color: white;
  padding: 10px;
}
select option {
  color: black;
}

@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 300px;
    min-height: fit-content;
    border-radius: 20px;
  }
}
