body {
  /* background-color: rgba(0, 0, 0, 0.938); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.container {
  /* width: 80%; */
  padding: 0.5em;
}
nav {
  display: flex;
  align-items: center;
}
button {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5em;
  border: none;
}
.active-name {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0;
}
.switch-btn {
  border-radius: 5px;
  margin-bottom: 0.5em;
}
.con-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cal-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.entity {
  font-size: 2.5rem;
}
.converter-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.converter-grid .span-two {
  grid-column: span 2;
}

.cal-operation-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.cal-operation-grid .span-two {
  grid-column: span 2;
}
.cal-number-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.amount-input {
  height: 100px;
  margin: 0.5em 0;
  /* padding: 0.2em; */
  overflow: hidden;
  /* background-color: red; */
}
.amount-input input {
  height: inherit;
  width: 100%;
  outline: none;
  border: none;
  font-size: 2rem;
  background-color: transparent;
}
.calculator,
.converter {
  border: 5px solid purple;
  /* padding: 1em 0.5em; */
  border-radius: 20px;
  min-height: 500px;
}
.calculator-box,
.converter-box {
  height: 200px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.converter-box {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.calculator-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
select {
  height: 60px;
  /* border-radius: 10px; */
  background-color: inherit;
  color: white;
  padding: 10px;
}

@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 400px;
  }
}
