body {
  /* background-color: rgba(0, 0, 0, 0.938); */
}

nav {
  display: flex;
  align-items: center;
  /* gap: 5em; */
  border: 5px solid red;
}
button {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5em;
  border: none;
}
.active-name {
  text-align: center;
}
.switch-btn {
  /* width: 200px !important; */
  border-radius: 5px;
}

.calculator,
.converter {
  border: 5px solid peru;
  /* padding: 1em 0.5em; */
  border-radius: 10px;
}
.calculator-box,
.converter-box {
  height: 200px;
  border: 2px solid greenyellow;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.calculator-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

section {
  display: flex;
}
